<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<style type="text/css">
  #map {
    width:400px;
    height:550px;
    background-color: red;
  }
</style>

{% if page.custom_js %}
     {% for js_file in page.custom_js %}
     <script src='/javascript/{{ js_file }}.js' type="text/javascript"></script>
     {% endfor %}
   {% endif %}

{% if page.custom_css %}
       {% for stylesheet in page.custom_css %}
       <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
       {% endfor %}
   {% endif %}
